.login__form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 400px;
  position: fixed;
  z-index: 101;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  .login__title {
    text-align: center;
    margin-bottom: 20px;
    color: #141414;
  }
  label {
    font-size: 20px;
    color: #141414;
    margin-bottom: 4px;
  }
  input {
    outline: none;
    border: 1px solid #ddd;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background: #f7f7f7;
    }
  }
}

.model__owerley-1 {
  background: #fff;
}
