* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  max-width: 1282px;
  padding: 0 16px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: sans-serif;
}
